html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --p-text-color: #757575;
  --brand-color: #2196f3;
  --h-text-color: #212121;
  --ptimary-lighte-color: #fff;
  --background-color-foot-and-hero: #2f303a;
  --bg-color: #f5f4fa;
  --bg-cards: #eeeeee;
}

/* Утилиты */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto;
  font-weight: 700;

  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--ptimary-lighte-color);
}

button {
  font-family: Roboto;
  border: 1px solid transparent;
  border-radius: 4px;
}

.header {
  margin-bottom: 10px;
}

.name {
  margin-bottom: 10px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.section {
  /* padding-top: 94px; */
  padding-bottom: 94px;
}

/* main nav */
.main-nav {
  display: flex;
  align-items: center;
}

/* site nav */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--brand-color);
}

/* .logo .web {
  color: var(--brand-color);
} */

.studio-head {
  color: #000;
}

.logohead .logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* margin-bottom: 94px; */

  /* outline: 1px solid tomato; */
}

.container.main-nav {
  margin-bottom: 0;
}

.container.cont-size {
  width: 1200px;
}

/* .page-header {
  margin-bottom: -94px;
} */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--h-text-color);

  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
}

.cont-list .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.cont-list {
  display: flex;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--brand-color);
}

.site-nav .link.current {
  color: var(--brand-color);
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item + .item {
  margin-left: 50px;
}

.contacts .link {
  display: flex;
  color: var(--p-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--brand-color);
}

.contacts .link-mail::before {
  content: "";

  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-image: url("../Img/Icon/envelope.svg");
}

.contacts .link-number::before {
  content: "";
  width: 10px;
  height: 16px;
  margin-right: 10px;
  background-image: url("../Img/Icon/smartphone.svg");
}

/* Герой */
.hero .heading {
  color: var(--ptimary-lighte-color);
  font-family: Roboto;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 44px;
  line-height: 1.2;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero {
  background-color: var(--background-color-foot-and-hero);
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;

  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../Img/Фон/Img-min.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .button {
  color: var(--ptimary-lighte-color);
  background-color: var(--brand-color);
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  min-width: 200px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero .button:hover,
.hero .button:focus {
  cursor: pointer;
}

/* Преимущества */

.section-benef {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits {
  display: flex;
  justify-content: center;
}

.benefits .item {
  width: 270px;
  margin-right: 30px;
}

.benefits .item:last-child {
  margin-right: 0;
}

.benefits .item:nth-last-child(4n + 1) {
  padding-right: 0;
}

.list.benefits .header {
  margin-bottom: 10px;
}

.list .tittle {
  color: var(--p-text-color);
}

.benefits .header {
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.benefits .tittle {
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.benefits .item::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;

  background: #f5f4fa;
  border-radius: 4px;
}

.benefits .item-antena::before {
  background-image: url("../Img/Icon/antenna.svg");
  background-size: 70px 70px;
  background-position: center;
  background-repeat: no-repeat;
}

.benefits .item-clock::before {
  background-image: url("../Img/Icon/clock.svg");
  background-size: 70px 70px;
  background-position: center;
  background-repeat: no-repeat;
}

.benefits .item-diagrama::before {
  background-image: url("../Img/Icon/diagram.svg");
  background-size: 70px 70px;
  background-position: center;
  background-repeat: no-repeat;
}

.benefits .item-astronaut::before {
  background-image: url("../Img/Icon/astronaut.svg");
  background-size: 70px 70px;
  background-position: center;
  background-repeat: no-repeat;
}

/* Чем занимаемся */

.work {
  padding-bottom: 94px;
}

.work .header {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.our-work {
  display: flex;
  justify-content: center;
}

.container .header {
  margin-bottom: 50px;
}

.our-work .item {
  margin-right: 30px;
}

.our-work .item:nth-last-child(3n + 1) {
  margin-right: 0;
}

/* Наша команда */
.our-team {
  display: flex;
  justify-content: center;
}

.our-team .item {
  text-align: center;
  margin-right: 30px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team .item:nth-last-child(4n + 1) {
  margin-right: 0;
}

/* .social-media {
  display: flex;
  justify-content: center;

  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  list-style: none;

  height: 44px;
} */

.item-text .tittle {
  margin-bottom: 16px;
}

.item-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--bg-color);
}

.team .header {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;

  margin-bottom: 50px;
}

.team-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.list .tittle {
  color: var(--p-text-color);
}

.list .name {
  color: var(--h-text-color);
}

/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-color-foot-and-hero);
  text-decoration: none;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

/* .footer .container {
  margin-bottom: -94px;
  margin-top: -94px;
} */

.studio {
  color: var(--ptimary-lighte-color);
}

.adres {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}

.adres .place {
  color: var(--ptimary-lighte-color);
  text-decoration: none;
}

.placed {
  display: block;
  margin-bottom: 9px;
}

.adres .link {
  color: rgba(255, 255, 255, 0.6);
}

.contacts-footer {
  display: block;
}

.contacts.contacts-footer .item {
  margin-bottom: 9px;
  margin-left: 0;
}

.social-footer {
  display: flex;
}

.soca-link {
  display: flex;
  padding: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.li-item:last-child {
  margin-right: 0;
}

.li-item {
  margin-right: 10px;
}

.join {
  display: block;
  margin-bottom: 20px;

  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--ptimary-lighte-color);
}

.flex-join {
  display: flex;
  flex-wrap: wrap;
  width: 206px;
}

/* Портфолио */

.page-header {
  border: 1px solid #ececec;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Фильтр */

.content {
  width: 1200px;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.filtr-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 1170px;
  /* margin-bottom: 50px; */
}

.portfolio {
  padding-top: 94px;
}

.portfolio a {
  text-decoration: none;
}

.portfolio a:hover,
.portfolio a:focus {
  text-decoration: underline;
  text-decoration-color: var(--brand-color);
}

.filtr {
  display: flex;
  justify-content: center;

  /* font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em; */

  margin-bottom: 50px;
}

.filtr .button.all {
  color: var(--ptimary-lighte-color);
  background-color: var(--brand-color);

  margin-left: 0;
}

.filtr .button {
  color: var(--h-text-color);
  background-color: #f5f4fa;

  padding: 6px 22px;
  margin-left: 8px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;
}

.filtr .button:hover,
.filtr .button:focus {
  color: var(--ptimary-lighte-color);
  background-color: var(--brand-color);
  cursor: pointer;
}

/* Карточки */

/* .cards.list {
  justify-content: center;
} */

.cards .card-header {
  font-size: 18px;
  line-height: 2;
  color: var(--h-text-color);

  letter-spacing: 0.06em;
}

.cards .card-tittle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;
  color: var(--p-text-color);
}

.container.flex-container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  justify-content: center;
}

.flex-cards {
  display: flex;
  flex-wrap: wrap;

  margin-right: -30px;
  margin-bottom: -30px;
}

.flex-cards .flex-element {
  flex-basis: calc(100% / 3 - 30px);
}

.flex-element {
  margin-right: 30px;
  margin-bottom: 30px;
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 30px;
}

.info-card {
  padding: 24px 20px;
  margin-top: -5px;
  border: 1px solid var(--bg-cards);
  border-top: none;
}
